:root {
    --padrao: #dea194;
    --textos: #133b47;
    --branco: #f9f9f9;
    --rodape: #efeae9;

}

*  {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}


/* START NAVBAR */
body {
    background-color: var(--padrao);
}

nav {
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    background: var(--branco);
    height: 100%;
    width: 12%;
    z-index: 20;
}
.logo img {
    width: 200px;
    display: flex;
    margin-left: 7%;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
nav .options {
    align-items: center;
    margin-top: 10%;
    width: 100%;
}

nav .menu {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .menu li {
    padding-bottom: 10%;
    align-items: center;
    list-style-type: none;
}

nav .menu li a {
    font-family: 'Montserrat';
    font-size: 14px;
    color: var(--textos);
    font-weight: 500;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 0 0 0;
    transition: all .6s;
}

nav .menu li a:hover {
    color: var(--padrao);
}
/* End NavBar */

/* Section one Home */
.section-one .slide-home{
    background-size: cover;
    background-position: right right;
}
.section-one .content {
    display: flex;
    padding: 0;
    position: relative;
    height: 100vh;
}
.section-one .playvideo{
    position: absolute;
    align-items:  center;
    top: 50%;
    left: 50%;
    opacity: 0.7;
}

.section-one .playvideo:hover {
    opacity: 1.0;
    transition: all .6s;
}

.section-one .content-icons {
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 5%;
    justify-content: center;
}

.section-one .content-icons .socials li {
   
    display: inline-block;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.section-one .content-icons .socials li a {
    display: flex;
    margin: 0 0 0 14px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--branco);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: var(--textos);
    font-weight: 500;
    text-decoration: none;
    transition: all .6s;
}

.section-one .content-icons .socials li a:hover {
    background-color: var(--textos);
    color: var(--branco);
}





.section-one .content-text {
    position: absolute;
    top: 2%;
    left: 20%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    padding: 0;
}
.section-one .content-text h1 {
    margin-top: 24%;
    font-family: 'carlasans';
    font-weight: 400;
    color: var(--padrao);
    text-transform: uppercase;
    font-size: 60px;
}
.section-one .slide-home .content .btnbusca{
    position: absolute;
    display: flex;
    background: var(--branco);
    color: var(--padrao);
    border-radius:  30px;
    width: 200px;
    height: 30px;
    top: 5%;
    right: 13%;

}
.btnBusca i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.btnBusca input{
    border-radius: 30px;
    background-color: var(--branco);
    font-family: 'Montserrat';
    padding: 1px 1px 1px 10px;
    width: 160px;
}

.section-one .slide-home .content .btnLogin{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--branco);
    color: var(--textos);
    border-radius:  30px;
    width: 30px;
    height: 30px;
    right: 10%;
    top: 5%;

    
}
.section-one .content .btn {
    position: absolute;
    left: 20%;
    bottom: 5%;
    width: 200px;;
    height: 30px;
    font-family: "Montserrat", serif;
    text-transform: capitalize;
    color: var(--padrao);
    background-color: var(--branco);
    font-size: 12px;
    border-radius: 30px;
    transition: all 0.6s;
}

.section-one .content-text .btn:hover {
    background-color: var(--padrao);
    color: var(--branco);
}
/* end section one */


/*start section two */
.section-two{
    height: 100vh;

    background: var(--branco);
    display: flex;
    position: relative;
    height: 600px;
    max-height: 600px;
}
.section-two .content-text-two{
    display: flex;
    background: var(--branco);
}
.section-two .content-two .imagem{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    min-height: 600px;
    width: 20%;
    position: absolute;
}


.section-two .content-two-text h1 {
    font-family: "carlasans";
    margin-left: 23%;
    font-weight: 400;
    color: var(--textos);
    text-transform: uppercase;
    font-size: 38px;
}

.section-two .content-two-text h3 {
    font-family: "Montserrat";
    font-weight: 500;
    margin-left: 23%;
    max-width: 60%;
    width: 100%;
    color: var(--textos);
    font-size: 14px;
    line-height: 2;
}



/* end section two */


/* section three */ 
 .section-three{
    background: var(--padrao);
    display: flex;
    flex-direction: row;
    position: relative;
    height: 850px;
    max-height: 850px;
}

.section-three .content-three{
    background-color: var(--padrao);
    

}
.section-three .titulo{
    font-family: 'carlasans';
    color: var(--branco);
    font-size: 45px;
    align-items: center;
    justify-content: center;
    margin-left: 100%;    
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
}
/* esquerda */
.section-three .content-three .esquerda{
    left: 15%;    
    display: flex;
    flex-direction:column;
    position: absolute;
    justify-content: center;
}
.section-three .content-three .esquerda .cont{
    display: flex;
    flex-direction: row;
    background: var(--branco);
    width: 300%;
    border-radius: 30px;
    height: 120px;
    margin-top: 25;
}

.section-three .content-three .esquerda .cont i{
    justify-content: left;
    padding-left: 5%;
    align-items: left;
    padding-top:10%;
}
.section-three .content-three .esquerda .cont .texto{
    display: flex;
    font-family: "textbook-new", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    flex-direction: row;
    margin-left: 5%;
    padding: 2 2 2 2;
    justify-content: center;
    align-items: center;
}
/* fim esquerda */ 
/* direita */ 
.section-three .content-three .direita{
    right: 30%;    
    display: flex;
    flex-direction:column;
    position: absolute;
    justify-content: center;
}
.section-three .content-three .direita .cont{
    display: flex;
    flex-direction: row;
    width: 300%;
    background: var(--branco);
    border-radius: 30px;
    height: 120px;
    max-height: 120px;
    margin-top: 25;
}

.section-three .content-three .direita .cont i{
    justify-content: left;
    padding-left: 5%;
    align-items: left;
    padding-top:10%;
}
.section-three .content-three .direita .cont .texto{
    display: flex;
    font-family: "textbook-new", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    flex-direction: row;
    margin-left: 5%;
    padding: 2 2 2 2;
    justify-content: center;
    align-items: center;
}
.section-three .content-three .direita .cont-btn{
    width: 120%;
    font-family: 'textbook-new', sans-serif;
    font-weight: 400;
    
    background: var(--branco);
    border-radius: 30px;
    height: 30px;
    max-height: 30px;
    margin-top: 25;
}

/* footer */


/* START FOOTER  */
footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--rodape);
    padding: 50px 120px;
}

footer .logo img {
    width: 250px;
    max-width: 100%;
}

footer .menu {
    display: flex;
    align-items: center;
    padding: 0;
}

footer .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .center h3 {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 15px;
}

footer .center li {
    display: flex;
    flex-direction: unset;
    align-items: center;
    list-style-type: none;
}

footer .center li a {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin: 0 30px 0 0;
    transition: all .6s;
}

footer .center li a:hover {
    opacity: 0.6;
}

footer .socials {
    display: flex;
    align-items: center;
    padding: 0;
}

footer .socials li {
    display: flex;
    flex-direction: unset;
    align-items: center;
    list-style-type: none;
    margin-left: 15px;
}

footer .socials li a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: #F26722;
    font-weight: 500;
    text-decoration: none;
    transition: all .6s;
}

footer .socials li a:hover {
    opacity: 0.6;
}

/* END FOOTER  */