:root {
    --padrao: #dea192;
    --textos: #133b47;
    --branco: #f9f9f9;
    --rodape: #efeae9;

}

*  {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
}


/* START NAVBAR */
body {
    width: 100% --webkit-fill-available;
    background-color: var(--padrao);
    overflow-x: hidden;
}

nav {
    position: absolute;
    display: block;
    top:0;
    left: 0;
    background: var(--branco);
    height: 100%;
    width: 15%;
    z-index: 20;
}
.logo img {
    width: 200px;
    display: flex;
    padding: 10 10 10 10;
    margin-left: 15%;
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
nav .options {
    position: absolute;
    align-items: center;
    text-align: center;
    margin: 0;
    width: 100%;
}

nav .menuprincipal {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

nav .menuprincipal li {
    padding-bottom: 2rem;
    list-style-type: none;
}

nav .menuprincipal li a {
    font-family: 'Montserrat';
    font-size: 14px;
    color: var(--textos);
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 0 0 0;
    transition: all .6s;
}

nav .menu li a:hover {
    color: var(--padrao);
}
/* End NavBar */

/* Section one Home */
.section-one .slide-home{
    background-size: cover;
    background-position: center right;
}
.section-one .content {
    display: flex;
    padding: 0;
    position: relative;
    height: 100%;
    z-index: ;
}
.section-one .playvideo{
    position: absolute;
    
    align-items:  center;
    top: 50%;
    z-index: 2;
    left: 50%;
    opacity: 0.7;
}

.section-one .playvideo:hover {
    opacity: 1.0;
    transition: all .6s;
}

.section-one .content-icons {
    z-index: 2;
    display: flex;
    position: absolute;
    right: 10%;
    bottom: 5%;
    justify-content: center;
}

.section-one .content-icons .socials li {
   
    display: inline-block;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.section-one .content-icons .socials li a {
    display: flex;
    margin: 0 0 0 14px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: var(--branco);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: var(--textos);
    font-weight: 500;
    text-decoration: none;
    transition: all .6s;
}

.section-one .content-icons .socials li a:hover {
    background-color: var(--textos);
    color: var(--branco);
}





.section-one .content-text {
    position: absolute;
    top: 2%;
    left: 20%;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    padding: 0;
    z-index: 2;
}
.section-one .content-text h1 {
    margin-top: 24%;
    font-family: 'carlasans';
    font-weight: 400;
    color: var(--padrao);
    text-transform: uppercase;
    font-size: 60px;
     text-shadow: black 0.1em 0.1em 0.2em;

}
.section-one .slide-home .content .btnbusca{
    position: absolute;
    display: flex;
    z-index: 2;
    background: var(--branco);
    color: var(--padrao);
    border-radius:  30px;
    width: 200px;
    height: 30px;
    top: 5%;
    right: 13%;

}
.btnBusca i{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}
.btnBusca input{

    border-radius: 30px;
    background-color: var(--branco);
    font-family: 'Montserrat';
    padding: 1px 1px 1px 10px;
    width: 160px;
}

.section-one .slide-home .content .btnLogin{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--branco);
    color: var(--textos);
    border-radius:  30px;
    width: 30px;
    height: 30px;
    right: 10%;
    top: 5%;

    
}
.section-one .content .btn {
    z-index: 2;

    position: absolute;
    left: 20%;
    bottom: 5%;
    width: 200px;;
    height: 30px;
    font-family: "Montserrat", serif;
    text-transform: capitalize;
    color: var(--padrao);
    background-color: var(--branco);
    font-size: 13px;
    font-weight: 500;
    border-radius: 30px;
    transition: all 0.6s;
}

.section-one .content .btn:hover {
    background-color: var(--textos);
    color: var(--branco);
}
/* end section one */


/*start section two */
.section-two{
   background: var(--branco);
    display: flex;
    position: relative;
    height:auto;
    padding-bottom: 80px;
}
.section-two .content-text-two{
    height: auto;
    display: flex;
    background: var(--branco);
}
.section-two .content-two .imagem{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    min-height: 600px;
    height: 100%;
    width: 20%;
    position: absolute;
}


.section-two .content-two-text h1 {
    font-family: "carlasans";
    margin-left: 23%;
    font-weight: 400;
    color: var(--textos);
    text-transform: uppercase;
    font-size: 38px;
}

.section-two .content-two-text h3 {
    font-family: "Montserrat";
    font-weight: 500;
    margin-left: 23%;
    max-width: 60%;
    width: 100%;
    color: var(--textos);
    font-size: 14px;
    line-height: 2;
}



/* end section two */


/* section three */ 
 .section-three{
    background: var(--padrao);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-three .content-three{
    background-color: var(--padrao);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 80px;
}
.section-three .titulo{
    font-family: 'carlasans';
    color: var(--branco);
    font-size: 45px;
    text-align: center;
    align-items: center;
    justify-content: center;    margin-top: 2%;
    width: 100vw;
    margin-top: -10%;
}

.section-three .content-three .cont{
    position:relative;
    align-items: center;
    padding: 20px;
    background: var(--branco);
    border-radius: 30px;
    height: 100px;
    width: 100%;
    transition: all 0.5s;
}
.section-three .content-three .filho{
    position:relative;
    background-color: var(--branco);
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 50px;
    margin: 0% 4% 4% 4%;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 33%;
    min-width: 300px;
    height: 100px;

}
.section-three .content-three .filho:hover{
    transform: scale(1.05);
    box-shadow:
  0 2px 0.4em rgb(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.section-three .content-three .filho img{
   position: inherit;
    padding-left: 5%;
}
.section-three .content-three .filho .texto{
    font-family: "textbook-new", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--textos);
    font-size: 18px;
    margin-left: 6%;
    padding: 2 2 2 2;
   
}


.section-three .content-three .filho-btn{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'textbook-new', sans-serif;
    font-weight: 600;
    font-size: 22px;
    background: var(--branco);
    color: var(--textos);
    border-radius: 25px;
    height: 65px;
    max-height: 65px;
    margin-top: 25;
    margin-left: 30%;
    text-decoration: none;
    right: 0;
    transition: all 0.5s;

}
.section-three .content-three .cont-btn img{
    display: flex;
    flex-direction: row;
    padding-right: 17px;
    height: 40px;
    width: auto;
}

.section-three .content-three .cont-btn:hover{
    transform: scale(1.05);
    box-shadow:
  0 2px 0.4em rgb(0, 0, 0, 0.3);
  transition: all 0.5s;
}
/* fim esquerda */ 
/* direita  

.section-three .content-three .direita{
    right: 10%;
    margin-top: 5%;
    display: flex;
    flex-direction:column;
    position: absolute;
    justify-content: center;
}
.section-three .content-three .direita .cont{
    display: flex;
    flex-direction: row;
    background: var(--branco);
    width: 500px;
    border-radius: 30px;
    height: 120px;
    margin-top: 25;
    align-items: center;
    transition: all 0.5s;

}

.section-three .content-three .direita .cont img{
    justify-content: left;
    padding-left: 5%;
    align-items: left;
}
.section-three .content-three .direita .cont .texto{
    display: flex;
    
    font-family: "textbook-new", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--textos);
    font-size: 18px;
    flex-direction: row;
    margin-left: 5%;
    padding: 2 2 2 2;
    justify-content: center;
    align-items: center;
}

.section-three .content-three .direita .cont:hover{
    transform: scale(1.05);
    box-shadow:
  0 2px 0.4em rgb(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.section-three .content-three .direita .cont-btn{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'textbook-new', sans-serif;
    font-weight: 400;
    background: var(--branco);
    color: var(--padrao);
    border-radius: 25px;
    height: 40px;
    max-height: 40px;
    margin-top: 40px;
    margin-left: 30%;
    right: 0;
    transition: all 0.5s;

}
.section-three .content-three .direita .cont-btn:hover{
    transform: scale(1.05);
    box-shadow:
  0 2px 0.4em rgb(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.section-three .content-three .direita .cont-btn:hover{
        background: var(--textos);
        color: var(--branco);
}
/* end section three */

/*start section four */
.section-four .content{
    display: flex;
    position: relative;
    
    height: 300px;
    min-height: 300px;
    background-image: linear-gradient( to left, #fbd3cd, #dea194);
}
.section-four .content .box{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: var(--branco);
    margin-top: 5%;
    height: 100%;
    margin-left: 10%;
    width: 20%;
    border-radius: 25px;
    box-shadow:
    0 2px 0.4em rgb(0, 0, 0, 0.3);
    transition: all 0.5s;

}
.section-four .content .box:hover{
    transform: scale(1.05);
    box-shadow:
  0 2px 0.4em rgb(0, 0, 0, 0.3);
  transition: all 0.5s;
}
.section-four .content .box .icone{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10%;

}
.section-four .content .box .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10%;
    color: var(--textos);
    font-family: 'textbook-new', sans-serif;
    font-size: 18px;

}
.section-four .content .box .texto p{

}

.negrito{
    font-weight: 600;
}
.info{
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
/* end section four */
/*section five */
.section-five .content{
    display: flex;
    position: relative;
    height: 500px;
    min-height: 500px;
    color: var(--branco);
    background-color: var(--branco) !important;

}
.section-five .content .box{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    left: 0;
    z-index: 200;
}
.section-five .content .box .esquerda{
    width: 50%;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    color: var(--textos);
}
.section-five .content .box .esquerda h1{
    align-items: center;
    justify-content: center;
    font-family: 'textbook-new', sans-serif;
    font-weight: 900;
    margin-top: -10px;
    margin-left: 33%;
   font-size: 70px;
}
.section-five .content .box .esquerda h2{
    align-items: center;
    justify-content: center;    
    margin-left: 33%;
    font-family: 'textbook-new', sans-serif;
    font-weight: 700;
    font-size: 25px;
}
.section-five .content .box .esquerda .btn{
    font-family: 'textbook-new', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-left: 23%;
    border-radius: 25px;
    margin-top: -5%;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: var(--padrao);
    color: var(--branco);
    height: 25px;
}

.section-five .content .box .direita{
    margin-top: 10%;
    width: 50%;
    align-items: center;
    min-width: 50%;
    right: 0;
    justify-content: center;
    color: var(--textos);
}
.section-five .content .box .direita .filho{
    position:relative;
    background-color:  transparent !important;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 50px;
    border-radius: 20px;
    width: 33%;
    min-width: 100%;
    height: 100px;

}
.section-five .content .box .direita.filho img{
   position: inherit;
    padding-left: 5%;
}
.section-five .content .box .direita .filho .texto{
    font-family: "textbook-new", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--textos);
    font-size: 18px;
    margin-left: 1%;
    padding: 2 2 2 2;
   
}
.section-five .content .box .direita .filho .texto-normal {
    font-family: "textbook-new", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--textos);
    font-size: 18px;
    margin-left: 1%;
    padding: 2 2 2 2;
   
}



/* end section five */

/* section six */
.section-six{
    position: relative;
    display: flex;
    background: var(--branco);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    flex-direction: column;
    left: 0;
    margin-top: -5%;
    z-index: 199;
}
.section-six .botao{
    background: var(--padrao);
    color: var(--branco);
    width: 200px !important;
    height: 60px;
    display: flex;
    margin-top: -2%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: all 0.5s;

}
.section-six .botao a{
    align-items: center;
    font-family: 'textbook-new', sans-serif;
    font-weight: 600;
    font-size 16px;
    text-decoration: none;
    color: var(--branco);
    justify-content: center;
    transition: all 0.5s;

}
.section-six .botao:hover{
    background: var(--textos);
    color: var(--branco);
    transition: all 0.5s;
}


/* section six end */

/* section seven */
.section-seven{
    height: 100vh;

    background: var(--textos);
    display: flex;
    position: relative;
    height: auto;
    min-height: 620px;
    max-height: 800px;
}
.section-seven .content-seven{
    display: flex;
    background: var(--textos);
}
.section-seven .content-seven .imagem{
    background-color: transparent !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;    
    min-height: 100%;
    width: 25%;
    right: 0;
    position: absolute;
}


.section-seven .content-seven-text h1 {
    font-family: "carlasans";
    padding-left: 10%;
    font-weight: 400;
    color: var(--branco);
    text-transform: uppercase;
    font-size: 38px;
}

.section-seven .content-seven-text h3 {
    font-family: "Montserrat";
    padding-left: 10%;
    font-weight: 500;
    max-width: 75%;
    width: 100%;
    color: var(--branco);
    font-size: 12px;
    line-height: 2;
}
.section-seven .content-seven .botao{
    background: var(--branco);
    margin-top: 15px;
    margin-bottom: 55px;
    color: var(--padrao);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 35px;
    border-radius: 25px;

}





/* end section seven */

/*  section eight */
.section-eight .content{
    display: flex;
    position: relative;
    flex-direction: row;
    background: #f8f0f0;
    width: 100%;
    justify-content: center;
    min-height: 200px;
    height: auto;
}

.section-eight .content .titulo{
    display: flex;
    font-family: 'carlasans';
    font-size: 20px;
    color: var(--textos);
    font-weight: 400;
    justify-content: center;
}









/* end section eight */

/*  section nine */



.section-nine .content{
    display: flex;
    position: relative;
    flex-direction: row;
    background: var(--padrao);
    width: 100%;
    min-height: 200px;
    height: auto;
}
.section-nine .content .box-esquerda{
    display: flex;
    border-radius: 30px;
    color: var(--textos);
    flex-direction: row;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    background:  var(--branco);
    height: 80%;
    min-height: 500px;
    padding-top: 10;
    width: 30%;
}
.section-nine .content .box-esquerda img{
    padding: 35px 10px 10px 10px;
}
.textosnormais{
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--textos);
    font-family: 'textbook-new', sans-serif;
    font-weight: 600;
    padding-top: 20px;
    font-style: normal;
    align-items: center;
    justify-content: center;
}
.section-nine .content .box-direita{
    display: flex;
    color: var(--branco);
    flex-direction: column;
    padding-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 100%;
    min-height: 400px;
    padding-top: 10;
    width: 40%;
}
.section-nine .content .box-direita .titulo{
    font-family: 'carlasans';
    font-size: 30px;
    text-align: left;
    
    color: var(--branco);
    font-weight: 200;
}
.section-nine .content .box-direita .paragrafo{
    font-family: 'textbook-new', sans-serif;
    font-size: 14px;
    text-align: left;
    font-weight: 500;
    color: var(--branco);

}




/* formulario */
.formulario-login{

    width: 80%;
  
  }
  


  input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-top: 10px;

  }
  
  input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    margin-top: -1px;
    margin-left: -1px;
    background-color: var(--branco) !important;
    border: 1px solid var(--textos);
    border-radius: 4px;
  }
  
  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;    

    border: solid var(--padrao);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 3px;
    left: 6px;
  }
  span{
    font-family: 'textbook-new', sans-serif;
    font-size: 12px;
    margin: 3px 15px;
  }






.formulario-login .campo{
    
    display:block;
    width:100%;
    background: transparent !important;
    border:none;
    font-family: 'textbook-new', sans-serif;
    padding:10px;
    border-bottom:1px solid var(--textos);
    outline:none;
  
  }
  
  .formulario-login input[type="text"]:focus , [type="password"]:focus{
    border-bottom:2px solid var(--textos);
  } 
  
  .formulario-login .btn{
    display:block;
    width:100%;
    background: transparent !important;
    border:none;
    font-family: 'textbook-new', sans-serif;
    padding:10px;
    border-bottom:1px solid var(--textos);
    outline:none;
    background: var(--padrao) !important;
    opacity:0.9;
    border:none;
    font-family: 'textbook-new', sans-serif;
    margin-top: 20px;
    border-radius:30px;
    color:white;
    font-size:1em; 
    cursor:pointer;
  
  }
  
  .formulario-login input[type="submit"]:hover{
    opacity:1;
    background: var(--textos);
    transition:.2s;
  }
  
  .formulario-login input[type="submit"]:active{
    transform:scale(0.95);
  }

  .formulario-login a:hover{
   
    text-decoration:underline;
    color:rgba(0,0,0,0.8);
  
  
    }  /* end formulario */




/* end section nine */





/* footer */


/* START FOOTER  */
/* Footer */
footer {
    background: #f8f0f0;
    padding: 1rem 1rem;
}

.footer-content {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    gap: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction:inherit;
    font-family: 'textbook-new', sans-serif;
}
.footer-content img{
    height: auto;
}
footer .img-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 4%;
}
footer .final-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: 'textbook-new', sans-serif;


}

/* END FOOTER  */

  






























section.dez {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
    background-position: center;
    align-items: center;
    background-size: contain;
    width: 100%;
    background-color: var(--branco);
    padding: 50px 100px;
    z-index: 1;
}

section.dez h2 {
    align-items: center;
    justify-content: center;
    color: var(--textos);
    font-family: 'carlasans';
    font-size: 45px;
    font-weight: 600;
    padding: 0 0 30px 0;
    z-index: 3;
}

section.dez h2 span {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

section.dez .item {
    position: relative;
    align-items: flex-start;
    cursor: pointer;
    width: 80%;
    border-bottom: 1px solid var(--textos);
    padding-bottom: 20px;
    margin-top: 30px;
    z-index: 3;
    transition: all 0.3s;
    opacity: .8;
}

section.dez .item:hover,
section.dez .item.ativo {
    opacity: 1;
}


section.dez .item * {
    pointer-events: none;
  }

section.dez .item h3 {
    font-family: 'textbook-new', sans-serif;
    font-weight: 800;
    font-size: 18px;

    color: var(--textos);
}

/* Responsive Design */
.dez {

}
section.dez .item.ativo h3 {
    padding-bottom: 20px;
}

section.dez .item p {
    font-family: 'textbook-new', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: var(--textos);  
    line-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s;
}

section.dez .item.ativo p {
    line-height: 1.5;
    opacity: 1;
    visibility: visible;
  }

section.dez .item img{
    width: 20px;
    position: absolute;
    right: 0;
    top: 10px;
    transition: all 0.3s;
}

section.dez .item.ativo img{
    transform: rotate(180deg);
}

section.dez .circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 2px dashed #ffffff2f;
    border-radius: 50%;
    z-index: 2;
    animation: rodando 50s linear infinite;
}

section.dez .circulo img {
    position: absolute;
    width: 100%;
}

section.dez .circulo.um {
    width: 300px;
    height: 300px;
    right: -120px;
    bottom: -100px;
    z-index: 3;
}

video#bgvid {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    opacity: .5;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    *{
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

    }
    body{
        width: 100%;
    }
    nav {
        display: flex;
        flex-direction: row;
        position: relative;
        top: 0;
        height: 90px;
        width: 100vw;
        background: var(--branco);
    }
    nav .options{
        position: relative;
    }
    nav .menuprincipal {
            flex-direction: row;
        
    }
    .logo img{
        position: flex;
        margin: 0;
        display:flex;
        flex-direction: row;
        margin-left:10px;
        margin-top: 5px;
        height: 80px;
        width: auto;
    }
    nav .options {
   display:none;
    }


    
/* End NavBar */

/* Section one Home */

    .section-one .slide-home{    
        background-size:auto;
    }
    .section-one .playvideo{
        display:none;
    }
    .section-one .content-icons {
        top: 83%;
        z-index: 2000;
        left: 0;
        right: 0;
    }
    .section-one .content-text {
        top: 0;
        left: 5%;
    }
    .section-one .content-text h1{
        margin-top: 35%;
        font-size: 40px;
    }
    .section-one .slide-home video{
        display: none;
    }
    .section-one .slide-home{
        background-color: #000 !important;
        background-image: url('http://encurtalinks.com.br/kitto/bonadeaacademy/wp-content/themes/BonadeaAcademy/assets/img/videoinicio-mobile.png');
    }
    .section-one .slide-home .content .btnLogin,.section-one .slide-home .content .btnbusca{
        display: none;
    }
    .section-one .slide-home .content .btn{
        top: 40%;
        left: 5%;
        width: 160px;
        margin: 0;
        padding: 0;
        
    }
    .section-two{
           background-color: var(--textos);

    }
    .section-two .content-text-two{
        height: 20px;
        display: block;
    }
    .section-two .content-two-text{
        height: auto;
    }
    .section-two .content-two-text h1 {
        margin: 0;
        color: white;
        margin-left: 0;
        font-weight: 700;
        text-align: center;
        font-size: 38px;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .section-two .content-two-text h3 {
        max-width: 90%;
        margin: 0;
        color: var(--branco);
        font-weight: 600;
        align-items: center;
        justify-content: center;
        text-align:left;
        margin-left: 5%;
    }
    .section-two .content-two .imagem{
        width: 100%;
        opacity: 0.1;       

    }
    .section-three{
        display: block;        
    }
    .section-three .content-three{
        margin: 0;
        display: flex;
        width: 100%;
        padding-bottom: 10%;
        
    }
    .section-three .titulo{
        margin: 0;
        padding: 5%;
    }
    
    .section-three .content-three .filho{
        width: 80%;
        align-items: left;
        justify-content: start;
        text-align: start;
    }
    .section-three .content-three .filho img{
        padding:0;
        margin: 0;
        position: absolute;
        left: 4%;
        margin-top: 4%;
        align-items: center;
        text-align: center;        
    }
    .section-three .content-three .filho .texto{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        margin-left: 15%;   
    }
    .section-four .content{
        display:;
        height: 400px;
    }
    .section-four .content .box{
        display: flex;
        padding: 3%;
        margin: 0;
        height: 50%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 15%;
        width: 28%;
        position: relative;
        width:  !important;
    }
    .section-four .content .box .icone{
        margin: 0;
        padding: 0;
        max-height: 170px;
        display: block;
        text-align: center;
    }
    .section-four .content .box .icone img{
        width: auto;
        max-height: 40px;
        
        margin: 0;
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .section-four .content .box .texto{
        font-size: 12px;
        margin: 0;
        margin-top: %;
        padding:10 10 10 10;
        text-align: center;
        justify-content: center;
    }
    .section-five .content{
        display: block;    
        height: 400px;
        min-height: auto;
        margin: 0;


    }
    .section-five .content .box {
        margin: 0;
    }
    .section-five .content .box .esquerda{
                     margin-top: -8%;
    }
    .section-five .content .box .esquerda .btn{
    width: 100%;
    }
     .section-five .content .box .direita{
         padding-left: 60px;
         width: 100%;
                     margin-top: -10%;

    }
    .section-seven{
        background-color: #133b47;
        margin:0;
        padding: 0;
        z-index: 2;
        height:auto;
        max-height: inherit;

    }
    .section-seven .content-seven{
        background-image: url('http://localhost:8080/KittoCreative/wp-content/themes/BonadeaAcademy/assets/img/quemebruna-mobile4.png');
        background-repeat: no-repeat;
        background-position: bottom;
        display: block;
        margin:0;
        height:auto;
        padding: 0;
        width: 100%;
    }
    .section-seven .content-seven .imagem{
        display: none;
        
    }
    .section-seven .content-seven-text h1{
        font-size: 25px;
        margin:0; 
        padding: 0;
        
        text-align: left;
        margin-left: 10%;
        padding-top: 10%;
        padding-bottom: 5%;
        }

    .section-seven .content-seven-text h3{
        margin: 0;
        margin-left: 10%;
        justify-content: center;
        text-align: justify;
        padding: 0;
        width: 100%;   
    }
    section.dez{
        display: flex;
        margin: 0;
        width: 100%;
        padding-left:15%;        
    }
    section.dez h2{
        font-size: 25px;
        padding: 0;
    }
    section.dez .item {
       margin:0;
        padding: 0;
        padding-bottom: 20px;
        align-items: start;
        width: 99%;

    }
    
    section.dez .item img{
    position: absolute;
    margin-left: 100%;
    margin:0;
    padding: 0;
    right: 0;
    left: 95%;
    top: 5%;
    }

    section.dez .item.ativo img{
        transform: rotate(180deg);
    }
    .section-nine .content{
        display: block;
        height: auto;
         align-content:center;
        align-items: center;
        justify-content: center;
    }
        .section-nine .content .box-esquerda{
             align-content:center;
        align-items: center;
            width: 80%;
           height: 20%;

        }
    .section-nine .content .box-direita{
    align-content:center;
        height: 80%;
        align-items: center;
        width: 80%;
    }
    footer{
        display: block; 
        
    }
    .footer-content {
    display: block;
        margin-bottom: 20px;
    }
footer .img-footer{
    margin-bottom: 5%;
    }
    footer .final-footer{
    
    }
}